# Include cudasims non-python files
include peitho/simulations/cudasim/cuLsoda_all.cu
include peitho/simulations/cudasim/MersenneTwister.cu
include peitho/simulations/cudasim/WarpStandard.cu
include peitho/simulations/cudasim/MersenneTwister.dat

# Include the example files
recursive-include peitho/example
